.arrow {
  color: white;
  position: absolute;
  bottom: 0;
}

.arrow a {
  font-size: 2rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arrow svg {
  font-size: 3rem;
  animation: bounce 1s infinite alternate;
  margin: 1rem 0;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}

@media (max-width: 540px) {
  .arrow a {
    font-size: 1rem;
  }
}
