.buttonDown {
  color: white;
  position: absolute;
  bottom: 0;
  z-index: 1;

  a {
    font-size: 2rem;
    text-transform: uppercase;
    font-family: "Righteous", cursive;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: bounce 1s infinite alternate;
  }
}

.buttonUp {
  color: white;
  position: absolute;
  top: 0;
  z-index: 3;

  a {
    font-size: 2rem;
    text-transform: uppercase;
    font-family: "Righteous", cursive;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: bounce 1s infinite alternate;
  }
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}
