* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Righteous", cursive;
  background: black;
}

a {
  color: inherit;
  text-decoration: none;
}

.cursor {
  width: 100px;
  height: 100px;
  border: 10px double #39ff14;
  border-radius: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  mix-blend-mode: difference;
  background: transparent;
  transition: all 150ms ease;
  transition-property: opacity;
}

.cursor--hidden {
  opacity: 0;
}
