.icons {
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  opacity: 0;
  animation: fadeIn 2s ease 3s forwards;
  background-image: linear-gradient(
    to right,
    #0fff00,
    #fff000,
    #f000ff,
    #000fff
  );
  background-clip: text;
}

.icons a {
  display: flex;
  margin: 0 3rem;
  color: white;
}

.icons a:hover {
  transform: scale(1.5);
  transition: all 0.5s ease-in-out;
}

/* .icons a:nth-child(1) {
  color: #0fff00;
}

.icons a:nth-child(2) {
  color: #fff000;
}

.icons a:nth-child(3) {
  color: #f000ff;
}

.icons a:nth-child(4) {
  color: #000fff;
} */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  .icons {
    animation: fadeIn 2s ease 2.5s forwards;
    font-size: 4rem;
    margin: 4rem 0;
  }
}

@media (max-width: 540px) {
  .icons {
    font-size: 2rem;
    margin: 2rem 0;
  }

  .icons a {
    margin: 0 1rem;
  }
}
