@import "mixins";

.icons {
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;

  opacity: 0;
  animation: fadeIn 2s ease 2s forwards;

  @include large-tablet {
    margin: 4rem 0;
    animation: fadeIn 2s ease 3s forwards;
  }

  @include phone {
    font-size: 2rem;
    margin: 2rem 0;
  }

  a {
    display: flex;
    margin: 0 3rem;
    color: white;
    transition: all 0.5s ease;

    @include phone {
      margin: 0 1rem;
    }

    &:hover {
      transform: scale(1.2);
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
