@import "mixins";

.card {
  margin: 2rem;
  color: white;
  width: 40%;
  z-index: 1;
  border: 1px solid white;
  border-radius: 10px;

  @include large-tablet {
    width: 60%;
  }

  @include small-tablet {
    width: 100%;
    margin: 1rem;
  }

  img {
    border-radius: 10px 10px 0 0;
  }

  .card-info {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 1rem;
    width: 100%;
    border-radius: 0 0 10px 10px;
    h2 {
      margin-bottom: 1rem;
      font-size: 2rem;
    }

    p {
      margin: 1rem 0;
      font-size: 1.7rem;
      font-weight: 100;
    }

    div {
      display: flex;
      align-items: center;

      span {
        background: darkviolet;
        padding: 0.5rem;
        border-radius: 1rem;
        margin: 0 1rem;
      }
    }

    a {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
        color: darkviolet;
      }
    }
  }
}
