.title h1 {
  color: white;
  font-size: 7rem;
  letter-spacing: 0.2rem;
  animation: letterSpace 3s ease forwards;
}

.title p {
  font-size: 3rem;
  letter-spacing: 0.2rem;
  margin: 1rem 0;
  color: white;
  opacity: 0;
  animation: letterSpace 3s ease 1s forwards;
}

@keyframes letterSpace {
  from {
    letter-spacing: 4rem;
    opacity: 0;
  }
  to {
    letter-spacing: 0.2rem;
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  .title h1 {
    white-space: nowrap;
  }

  .title p {
    animation: fadeIn 1s ease 2s forwards;
  }
}

@media (max-width: 540px) {
  .title h1 {
    font-size: 4rem;
  }

  .title p {
    animation: fadeIn 1s ease 2s forwards;
    font-size: 2rem;
  }
}
