.title h1 {
  background-image: linear-gradient(
    to right,
    #0fff00,
    #fff000,
    #f000ff,
    #000fff
  );
  background-clip: text;

  color: white;
  font-size: 7rem;
  font-weight: 100;
  letter-spacing: 0.2rem;
  animation: letterSpace 3s ease forwards;
  /* color-change 20s linear infinite alternate; */
}

.title p {
  font-size: 3rem;

  letter-spacing: 0.2rem;
  margin: 1rem 0;
  /* background-image: linear-gradient(
    to left,
    #0fff00,
    #fff000,
    #f000ff,
    #000fff
  );
  background-clip: text; */
  color: white;
  opacity: 0;
  animation: letterSpace 3s ease 1s forwards;
}

@keyframes letterSpace {
  from {
    letter-spacing: 4rem;
    opacity: 0;
  }
  to {
    letter-spacing: 0.2rem;
    opacity: 1;
  }
}

@keyframes color-change {
  0% {
    color: #001eff;
  }
  20% {
    color: #74ee15;
  }
  40% {
    color: #ffe700;
  }
  60% {
    color: #f000ff;
  }
  80% {
    color: #001eff;
  }
  100% {
    color: #4deeea;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  .title h1 {
    white-space: nowrap;
  }

  .title p {
    animation: fadeIn 1s ease 2s forwards;
  }
}

@media (max-width: 540px) {
  .title h1 {
    font-size: 3rem;
  }

  .title p {
    animation: fadeIn 1s ease 2s forwards;
    font-size: 1rem;
  }
}
