@import "mixins";

.title {
  z-index: 2;
  color: white;

  h1 {
    font-size: 7rem;
    letter-spacing: 0.2rem;
    animation: letterSpace 3s ease forwards;

    @include large-tablet {
      white-space: nowrap;
      opacity: 0;
      animation: fadeIn 2s ease 1s forwards;
    }

    @include phone {
      font-size: 3rem;
    }
  }

  p {
    font-size: 3rem;
    white-space: nowrap;
    letter-spacing: 0.2rem;
    margin: 1rem 0;
    opacity: 0;
    animation: letterSpace 2s ease 1s forwards;

    @include large-tablet {
      opacity: 0;
      animation: fadeIn 2s ease 2s forwards;
    }

    @include phone {
      font-size: 2rem;
    }
  }
}

@keyframes letterSpace {
  from {
    letter-spacing: 4rem;
    opacity: 0;
  }
  to {
    letter-spacing: 0.2rem;
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
